<div id="enquiryComplete" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close-up" data-dismiss="modal" aria-hidden="true"><img src="../../images/icon-close.png" alt=""></button>

      <div class="modal-body">
        <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> -->
        <center>
          <h3>ขอเช่าพื้นที่</h3>
        </center>
        <div class="row">
          <div class="col-sm-12">
            <p class="text-black"><span class="text-accent" style="font-size:18px;font-weight:400;">เราได้รับข้อมูลของคุณแล้ว!</span> ทางเรายินดีเป็นอย่างยิ่งที่คุณสละเวลาในการส่งข้อมูลให้แก่เรา
            เราจะติดต่อกลับหาคุณในเวลาไม่นาน ขอให้คุณเตรียมตัวที่จะได้เจอประสพการณ์ใหม่ในการขายสินค้าของคุณ</p>
            <br>
			<br>
               <button type="submit" data-dismiss="modal"  style="width:135px" class="btn btn-inverse">ปิด</button>
              <br>
              <br>	
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>

<div id="enquiryError" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <center>
          <h3>เกิดข้อผิดพลาด</h3>
        </center>
        <div class="row">
          <div class="col-sm-12">
            <p class="text-black">กรุณาตรวจสอบข้อมูลของท่า และลองใหม่อีกครั้ง</p>
            <br>
      <br>
               <button type="submit" data-dismiss="modal"  style="width:135px" class="btn btn-inverse">ปิด</button>
              <br>
              <br>  
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>