<nav class="navbar" id="footer">
		<br style="line-height: 50px;">
				<!-- <center><a style="color:#FFF;" href="mailto:contact@shiftspace.me"><img src="./images/icon-mail.png" alt="">&nbsp;contact@shiftspace.me</a></center> -->
				<center><a style="color:#FFF;"><img src="./images/icon-mail.png" alt="">&nbsp;contact@shiftspace.me</a></center>
			</p>
			<p><center><a style="color:#FFF;" href="tel:089-764-7726"><img src="./images/icon-phone.png" alt="">&nbsp;089-764-7726</a></center></p>

		<br>

			<center>
				<a href="https://www.facebook.com/theshiftspace"><img src="./images/icon-social-facebook.png" alt="" target="_blank"></a> &nbsp;&nbsp;
<!-- 
				<a href="https://www.instagram.com/theshiftspace"><img src="./images/icon-social-instagram.png" alt="" target="_blank"></a> &nbsp;&nbsp;

				<a href="https://twitter.com/the_shiftspace"><img src="./images/icon-social-twitter.png" alt="" target="_blank"></a> &nbsp;&nbsp; -->

				<!-- <img src="./images/icon-social-youtube.png" alt="" target="_blank"> &nbsp; &nbsp;-->

				<!-- <a href="https://www.pinterest.com/theshiftspace"><img src="./images/icon-social-pinterest.png" alt="" target="_blank"></a> &nbsp;&nbsp; -->
				<a href="#"><img src="./images/icon-social-lineat.png" alt="" target="_blank"></a>

			</center>

		<center style="position: absolute;bottom: 0;width: 100%;">
			<hr style="margin:0;opacity:0.5">
			<span id="copyright">© Copyright 2016 Shift Space Co., Ltd.</span> 
		</center>
			
	<!-- </div> -->
</nav>