<div class="section section-testimonial">
		<center>
			<img src="../../images/testimonial-3.jpg" alt="" class="img-responsive">
		</center>
		
			<div class="accent-overlay hidden-xs"></div>
		<div class="dialog image-dialog">
			คุณยิ้ม เจ้าของร้าน Ampersand สาขาเซ็นทรัลเวิร์ด และสาขาสุขุมวิท 39 มีรายได้เพิ่ม จากการปล่อยพื้นที่ให้เช่า
		</div>

		<div class="dialog dialog-testimoial hidden-xs">
			<span class="head" style="font-size:28px;">
				ข้อดีในการปล่อยเช่า
			</span class="head">
			<ul style="font-size:18px;" class="text-accent">
				   <li><span>มีรายได้เพิ่ม โดยไม่ต้องทำอะไร</span></li>
				   <li><span>สร้างบรรยากาศใหม่ๆให้กับร้าน</span></li>
				   <li><span>ลดภาระในการจ่ายค่าเช่าหลัก</span></li>
			</ul>
			<button class="btn btn-primary" data-toggle="modal" data-target="#addSpaceModal"><img src="../../images/plus.png" alt=""> เปลี่ยนพื้นที่ให้ทำเงิน</button>
			
		</div>

		<div class="dialog visible-xs-block">
			<span class="head" style="font-size:28px;">
				ข้อดีในการปล่อยเช่า
			</span class="head">
			<ul style="font-size:18px;" class="text-accent">
				   <li><span>มีรายได้เพิ่ม โดยไม่ต้องทำอะไร</span></li>
				   <li><span>สร้างบรรยากาศใหม่ๆให้กับร้าน</span></li>
				   <li><span>ลดภาระในการจ่ายค่าเช่าหลัก</span></li>
			</ul>
			<button class="btn btn-primary" data-toggle="modal" data-target="#addSpaceModal"><img src="../../images/plus.png" alt=""> เปลี่ยนพื้นที่ให้ทำเงิน</button>
	</div>

</div>