<nav class="navbar navbar-inverse" id="menu-home">
    <div class="navbar-header" style="padding-left:32px;padding-right:32px;">
      <!-- <button type="button" id="shift-toggle" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> -->
       <button type="button" id="shift-toggle" class="navbar-toggle collapsed" data-toggle="offcanvas" data-canvas="body" data-target="#myNavmenu" data-placement="right">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand" href="#"><img src="images/logo.png" style="height:55px"></a> -->
      <a ng-click="go('/')"><img src="images/logo-transparent.png" id="logo" style="height:37px;margin-top: 13px;"></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <!-- <ul class="nav navbar-nav pull-right">
        <li><a><button class="btn btn-primary" data-toggle="modal" data-target="#"><img src="../../icon/pin.svg" style="width:18px;height:20px;" alt=""> แบ่งพื้นที่กับเรา</button></a></li>
      </ul> -->
    </div>
</nav>
