

<h2>สถานที่ตั้ง</h2>

<div class="form-group">
  <label for="name">ชื่อร้านหรือชื่อสถานที่</label>
  <input type="text" class="form-control" id="location-name" placeholder="" ng-model="space.location.name" ng-class="{'error' : locationNameError == true}">
</div>
<div class="form-group">
  <label for="address">สถานที่ / ย่าน / อาคาร</label>
  <input type="text" class="form-control" id="location-place" placeholder="" ng-model="space.location.place" ng-class="{'error' : locationPlaceError == true}">
</div>
<div class="form-group">
  <label for="road">ถนน</label>
  <!-- <input type="text" class="form-control" id="road" placeholder="บ้านเลขที่ / ถนน" ng-model="space.location.street" ng-class="{'error' : locationStreetError == true}">
   -->
  <input id="autocomplete" class="form-control" placeholder="บ้านเลขที่ / ถนน" type="text" ng-model="space.location.street"></input>

</div>
<div class="row">
  <div class="col-xs-6">
    <div class="form-group">
      <label for="district">แขวง</label>
      <input type="text" class="form-control" id="district" placeholder="" ng-model="space.location.subdistrict" ng-class="{'error' : locationSubdistrictError == true}">
    </div>
  </div>
  <!-- /.col-xs-6 -->
  <div class="col-xs-6">
    <div class="form-group">
      <label for="district2">เขต</label>
      <input type="text" class="form-control" id="district2" placeholder="" ng-model="space.location.district" ng-class="{'error' : locationDistrictError == true}">
    </div>
  </div>
  <!-- /.col-xs-6 -->
</div>
<!-- /.row -->
<div class="row">
  <div class="col-xs-6">
    <div class="form-group">
      <label for="province">จังหวัด</label>
      <input type="text" class="form-control" id="province" placeholder="" ng-model="space.location.province" ng-class="{'error' : locationProvinceError == true}">
    </div>
  </div>
  <!-- /.col-xs-6 -->
  <div class="col-xs-6">
    <div class="form-group">
      <label for="postalcode">รหัสไปรษณีย์</label>
      <input type="text" class="form-control" id="postalcode" placeholder="" ng-model="space.location.postcode" ng-class="{'error' : locationPostcodeError == true}">
    </div>
  </div>
  <!-- /.col-xs-6 -->
</div>
<!-- /.row -->

<div ng-if="substep == 3">
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCu6Q48Tjluf0oyt5Pq-iudj6nay0nvjB0"></script>
  <script>

    initialize();
    function initialize() {
      var autocomplete = new google.maps.places.Autocomplete(
          (document.getElementById('autocomplete')), {
              types: ['geocode']
          });
    }

  </script>
</div>
